<app-panel-top></app-panel-top>
<div id="jede">
  <img src="https://i.imgur.com/qlHr8YW.jpeg">
  <h1>Witaj w najlepszym i największym sklepie dla Graczy.</h1>
  <br>
    <div id="ein">
      <img src="https://i.imgur.com/2DJUSLU.jpeg" width="450">
      <p> JUŻ WKRÓTCE W SKLEPIE !
        <br>
        <br>
        Skąd ten cały hype na NARAKA: Bladepoint? Z kilku powodów. <br>
        Jest to gra, która – pomimo przynależności do gatunku Battle Royale – w ogóle nie przypomina Battle Royale.  Piękny otwarty świat łączy się tutaj z parkour’ową rozgrywką i systemem walki opartym przede wszystkim na potyczkach wręcz. A całość dopieszcza orientalny klimat z domieszką fantasy.

        Porównania z Sekiro: Shadows Die Twice są jak najbardziej na miejscu.</p>

    </div>
    <div id="zwei">
      <img src="https://i.imgur.com/2YRgFLc.jpeg" width="450">
      <p>BEST SELLER: Lost Ark Online<br><br>Lost Ark to sieciowe RPG akcji w modelu darmowym z mikropłatnościami (free-to-play), przypominające w ogólnym zarysie inne popularne tytuły z gatunku, takie jak Path of Exile, Diablo czy Torchlight. Produkcja powstała w dużym koreańskim studiu Tripod i pierwotnie była przygotowywana z myślą o rynku azjatyckim, ale z czasem zdecydowano się udostępnić ją również na Zachodzie w wersji anglojęzycznej.
      </p>
    </div>
</div>

