/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
  background-color: LightBlue;
  background-image: url("https://i.imgur.com/1TiSLns.jpeg");
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif;
}
div.jede {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 2px solid black;
  padding: 10px;
  min-height: 1000px;
  min-width: 1000px;
  max-width: 1000px;
  background-color: #9191a9;
 }
 div#ein {
  text-align: lef;
  left: 24%;
  max-width: 450px;
  min-width: 130px;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 0px;
  color: rgb(42, 16, 75);

 }
 div#zwei {
  left: 50%;
  max-width: 450px;
  min-width: 130px;
   position: absolute;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 0px;
  color: rgb(42, 16, 75);
 }
h1 {
  color: rgb(42, 16, 75);
}
div#dash {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 2px solid black;
  padding: 10px;
  min-height: 900px;
  min-width: 1000px;
  max-width: 1000px;
  background-color: #9191a9;
}
div#paypal {
  text-align: center;
}
.search{
  width: 30%;
  position: relative;
  border: 2px solid #3d3d70;
}
h2{
  font-stretch: expanded;
  margin-left: 30%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 70px;
}
.topkek{
   text-align: center;
}
